
.conteinerLB {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
}
.conteinerLB2 {
  margin: auto;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.titInicio {
  width: 149px;
  height: 157px;
  word-wrap: break-word;
  border-radius: 16px;
  background-color: white;
  margin: 0.3rem;
  color: #295db1;
  font-weight: 700;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  font-family: 'Montserrat', sans-serif;
}

.titInicio >img{
  object-fit: cover;
  width: 100%;
  height: 70%;
  border-radius:16px 16px 0 0 ;
}
.titInicio >p{
  margin: auto;
}
.naviLanding {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100px;
  font-size: 1.3rem;  
  margin-bottom: 16px;
}
.navi2{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
}
.navi2 >p{
 margin:0 1rem 0 1rem
}

.naviTit2{
display:flex ;
}
.titCasa {
  display: flex;
}

.titInicio:hover {
  color: #d47618;
  border-radius: 20%;
  border: solid white;
}
.navLink {
  text-decoration: none;
}

.nMenu {
  color: white;
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}
.leta1 {
  color: #18a59d;
}
.leta2 {
  color: #edcc27;
}
.leta3 {
  color: #c1373e;
}
.leta4 {
  color: #295db1;
}
a {
  text-decoration: none;
}

.leta1 , .leta2 , .leta3 , .leta4{
font-weight: 800;
}

.rowsCardL {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  gap: 7px;
  margin-bottom: 16px;
}
.logoL{
margin-top: 16px;
}