


.conteinerLB{
  height: 70vh;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
background-color:#567277;

}
.conteinerLB2{
  margin: auto;
 border-radius: 5%;
 background-color: #567277;
 height: 80%;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}
.titInicio{
  padding: .7rem;
  margin: .3rem;
  font-size: 1.5rem;
  font-family: 'Bebas Neue', cursive;
font-family: 'Sono', sans-serif; 
  color: white;
}
.naviLanding{
   background-image: url("https://cdn.create.vista.com/api/media/small/382777506/stock-photo-oriental-outline-ornament-seamless-pattern");
}


.titInicio:hover{
  color: #d47618;
  border-radius: 20%;
  border: solid white;

}
.navLink{
  text-decoration:none;
}


.nMenu{
  color: white;
  margin-top: 0;
  margin-bottom: .5rem;
  padding-bottom: .5rem;
}