.nameProd {
  color: black;
  margin-bottom: 0;
  margin-top: 0.5rem;
  text-align: left;
  font-family: "Bebas Neue", cursive;
  font-family: "Sono", sans-serif;
  font-weight: 200;
}
.detProd {
  color: black;
  text-align: left;
  margin-bottom: 0;
  margin-top: 0rem;
  font-size: 0.7rem;
}
.rightInfo {
  color: black;
  font-family: "Bebas Neue", cursive;
  font-family: "Sono", sans-serif;
  text-align: end;
  padding-right: 0.5rem;
}

.contCard {
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 6px;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  padding-bottom: 1rem;
  padding-left: 1rem;
  background-color: #ffffff;
  box-shadow: 0 4px 2px -2px gray;
}
.contCard:hover {
  background-color: orange;
  color: black;
  box-shadow: 0 8px 4px -4px black;
}
.contCard:hover .nameProd {
  color: black;
}
.contCard:hover .detProd {
  color: black;
}
.contCard:hover .rightInfo {
  color: black;
}

.btnPlus {
  background-color: transparent;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}
.rightInfo{
    display: flex;
    gap: .5rem;
}
