.nameProd {
  color: black;
  margin-bottom: 0;
  margin-top: 0.5rem;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}
.detProd {
  color: black;
  text-align: left;
  margin-bottom: 0;
  margin-top: 0rem;
  font-size: 14px;
  text-align: left;
}
.rightInfo {
  color: black;
  font-family: "Montserrat", sans-serif;
  text-align: end;
  padding-right: 0.5rem;
  padding-top: 1rem;
  text-align: center;
  display: flex;
  gap: 0.5rem;
}
.divBtnProd{
  width: 90px;
  height: 44px;
  align-items: center;
  display: flex;
}
.btnPlus {

  width: 100%;
  height: 100%;
  border-radius: 16px;
  border: outset green 2px;
  font-family: "Montserrat", sans-serif;
  color: green;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
}

.btnPlus:active {
  background-color: #E88A23;
}

.leftInfo {
  display: flex;
  flex-direction: column;
  padding: 0px;
  align-items: flex-start;
  padding-left: 1rem;
}
.masMenos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 16px;
  background-color: #E88A23;
  border: outset #E88A23 2px;
  width: 100%;
  height: 100%;
}
.masMenos:hover{
    border: inset #E88A23 2px;
}

.masMenos > button {
  border: none;
  background-color: transparent;
  /* width: 60px;
  height: 44px; */
  color: white;
  font-weight: 600;
  font-size: 1rem;
}
.cuantiti {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: white;
  padding: 0.3rem 0.7rem 0.3rem 0.7rem;
  border-radius: 100%;
}

.contCard {
  align-content: flex-start;
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  box-shadow: 0px 0px 8px rgb(0 0 0 / 25%);
  padding: 1rem 0.3rem 1rem 0.3rem;
}
.price{
margin: 0;
font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color:rgb(107, 48, 48);
}
.btn-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.btn-svg svg {
  width: 100%;
  height: 100%;
}
.svg-minus,
  .svg-plus {
    width: 100%;
    height: auto;
  }
/* Estilos para el iPhone 11 Pro */
@media (max-width: 375px) {
  .btn-svg {
    width: 10px;
    height: 10px;
    margin-right: 0px;
  }

}