.cartaB {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.granoCafe {
  margin-top: 1.5rem;
}
.montoTotal {
  margin: auto;
  margin-top: 3%;
}
.aPagar {
  padding: 0.3rem;

  color: white;
  font-size: 1rem;
  font-weight: 600;
  background: #E88A23;
  box-shadow: 0px 0px 8px #E88A23;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 24px;
}

.rowsCardBag {
  display: flex;
  width: 100%;
  margin: auto;
  flex-direction: column;
}
