.cartaB{
    padding-bottom: .5rem;


      padding-top: .5rem;
      padding-bottom: .5rem;
    }
.granoCafe{
    margin-top: 1.5rem;
}
.montoTotal{

  margin: auto;
}
.aPagar{
  background-color: bisque;
  padding: .3rem;
  border-radius: 6px;
  color: black;
  text-align: left;
  margin-bottom: 0;
  margin-top: 0rem;
  font-size: 1rem;
  font-family: 'Bebas Neue', cursive;
font-family: 'Sono', sans-serif;
font-weight: 600;
}