.Mfooty{
padding-bottom: 5%;
background-image: url("https://cdn.create.vista.com/api/media/small/382777506/stock-photo-oriental-outline-ornament-seamless-pattern");
display: flex;
margin-top: 0;
} 

.redes{
    fill:#FB7F03;
}
.Mcontact{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Sono', sans-serif;
    font-size: .6rem;
    color: aliceblue;
    margin-bottom: 0;
    margin-top: .5rem;
}
.McontactT{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Sono', sans-serif;
    font-size: .6rem;
    color: aliceblue;
    margin-bottom: 0;
    margin-top: .5rem;
    margin-right: .5rem;
}
.linkC:hover .redes{
    fill:#fbae61;
}

.myLinkss{
    display: flex;
    margin: auto;

}