.titBag{
    color: #18a59d; 

}

.contBag{
        margin: auto;
       min-height: 67vh;
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       outline:double 2px #18a59d;;
       background-image: linear-gradient(
        -45deg,
        #ffde63 0%,
        #f7dc7a 25%,
        #ffde63 51%,
        #f7dc7a 100%
      );
      animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 25%;
  }
  25% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



.bagSect{
  background-position: center;    
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://img.freepik.com/vector-premium/marco-hojas-acuarela-pintada-mano_158232-354.jpg);
}


.btnBack{
  outline: #c1373e double 1px;
  background-color: #295db1;
  border: none;
  border-radius: 20%;
  padding-top: 0.3rem;
  color: white;
  padding: .3rem;
  margin-bottom: 1rem;

}
.btnWssp{
  background-color: #18a59d;
}