.titBag{
    color: #18a59d; 

}
.contBag{
        margin: auto;
        min-height: 60vh;
       display: flex;
       flex-direction: column;
       justify-content: center;   
}
.btnBack{
  outline: #c1373e double 1px;
  background-color: #295db1;
  border: none;
  border-radius: 20%;
  padding-top: 0.3rem;
  color: white;
  padding: .3rem;
  margin-bottom: 1rem;
}

.btnWssp{
  border-radius: 6px;
  background-color:#03C100 ;
  border: solid 4px white;
  color: white;
  font-family: 'Noto Serif Oriya', serif;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  border-radius: 24px;
  border: solid white 2px;
  text-align: center;
  width: 129px;
  height: 39px;
  outline: 1px rgb(90, 90, 90) solid;
}
.warning{
  margin-bottom: -5px;
}
.wsspTarj{
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: center;
}
.selectP{
  height: 39px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius:24px;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  text-align: center;
  width: 129px;
}
.backBag{
  color: black;
  margin-left: 0;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  padding: 0 4px 4px 0;
  border-radius: 0 24px 24px 0;

}
.backBag>svg{
  margin-bottom: -3px;
} 

.QrBag{
  outline: groove #E88A23 10px;
  border-radius: 24px;
  padding: 1rem;
  margin-top: 2rem;

}


@media (max-width: 600px) {
  .nav{
    justify-content: flex-start
  }
  .btnBack{
    outline: #c1373e double 1px;
    background-color: #295db1;
    border: none;
    border-radius: 20%;
    padding-top: 0.3rem;
    color: white;
    padding: .3rem;
    margin-bottom: 1rem;
  }
  .contBag{
   margin-top: 30%;
}
}