.titBag{
    color: #18a59d; 

}
.contBag{
        margin: auto;
        min-height: 60vh;
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
}
.contBag{
  margin-top: 100px;
}

.btnBack{
  outline: #c1373e double 1px;
  background-color: #295db1;
  border: none;
  border-radius: 20%;
  padding-top: 0.3rem;
  color: white;
  padding: .3rem;
  margin-bottom: 1rem;

}
.btnWssp{
  border-radius: 6px;
  background-color:#03C100 ;
  border: solid 4px white;
  color: white;
  font-family: 'Noto Serif Oriya', serif;
  padding-top: .3rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  border-radius: 24px;
  border: solid white 2px;
  text-align: center;
}
.warning{
  margin-bottom: -5px;
}