.nameProd {
  color: black;
  margin-bottom: 0;
  margin-top: 0.5rem;
  font-family: "Bebas Neue", cursive;
  font-family: "Sono", sans-serif;
  font-weight: 200;
  text-align: center;
}
.detProd {
  color: black;
  margin-bottom: 0;
  margin-top: 0rem;
  font-size: 0.7rem;
  text-align: center;
}
.rightInfo {
  color: black;
  font-family: "Bebas Neue", cursive;
  font-family: "Sono", sans-serif;
  text-align: end;
  text-align: center;
}

.contCard {
  align-content: flex-start;
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1rem;
  padding: 1rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
border-radius: 16px;
}
/* align-content: flex-start;
  align-items: center;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 2px -2px grey;
  display: flex;
  justify-content: space-between;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1rem;
  padding: 1rem;
 */
/* .contCard:hover {
  background-color: #d47618;;
  color: black;
  box-shadow: 0 8px 4px -4px black;
} */
.contCard:hover .nameProd {
  color: black;
}
.contCard:hover .detProd {
  color: black;
}
.contCard:hover .rightInfo {
  color: black;
}

.rightInfo {
  display: flex;
  gap: 0.5rem;
}
.btnPlus:hover .efadd {
  fill: green;
}

.priceProd {
  font-size: 1.2rem;
}
.price{
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  color: #d47618;
}
.btnPlus:hover .efCancel {
  fill: rgb(181, 0, 0);
}

.divBtnProd {
  display: flex;
  align-items: center;
}

.btnPlus:hover .efAdd {
  fill: rgb(40, 109, 12);
}
.contCardBag {
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 6px;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 4px 2px -2px grey;
  flex-direction: row;
  width: 99%;
}
