.footy{
padding-bottom: 5%;
margin-bottom: -1px;
background-image: url(https://img.freepik.com/vector-premium/marco-hojas-acuarela-pintada-mano_158232-354.jpg);
} 
.links{
    margin-left: .5rem;
    margin-right: .5rem; 
}

.linkss{
    padding-top: 1rem;
}
.redes{
    fill:#18A59D;
}
.contact{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Sono', sans-serif;
    font-size: 1rem;
    color: aliceblue;
    margin-bottom: 0;
margin-top: 0;
}
.linkC:hover .redes{
    fill:#fbae61;
}
