.titleSection{
font-size: 2rem;
color: #d47618;
}
.cafeBg{
    border-radius: 20px;

}
.conteinerLC{
    /* height: 70vh; */
    margin-top: 0.5rem;
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
    
}
  .imgsTit{
    object-fit: cover;
    object-position: center;
    border: double 2px #18a59d;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .conteinerLB2>img{
    max-width: 100%;
    object-fit: contain;
  }
  .containerL{
    margin-top: 100px;
  }
  .sectioner{
    position: sticky;
    top: 90px;
    white-space: pre;
    overflow: auto;
    padding: 0.1rem;
   
  }
  ::-webkit-scrollbar {
    display: none;
}
  .sectioner>a{
    font-family: 'Montserrat', sans-serif;
    margin-right: 1rem;
    border-radius: 16px;
    padding: 0 .5rem 0 .5rem;
    margin-left: .5rem;
    border: 1px solid #577377;
    border-radius: 24px; 
    text-decoration: none;
    color: black;
  }
  .sectioner>a:active{
    background-color: #18a59d;
  }
  /* display: flex;

width: 84px;
height: 44px;

border: 1px solid #577377;
border-radius: 24px; */