
h1{
    color: rgb(255, 255, 255) ;
    margin-top: 0;
    margin-bottom: 0;
}
.subName{
    color: white;
    margin-top: 0;
}


.nav{
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(240, 255, 255, 0.603);

}
.nav> a{
margin-top: 16px;
margin-left: 23%;
 
}
  /*============= Search bar ==========*/
