
h1{
    color: rgb(255, 255, 255) ;
    margin-top: 0;
    margin-bottom: 0;
}
.subName{
    color: white;
    margin-top: 0;
}


.nav{
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 9999;
  justify-content: space-evenly;
}

  /*============= Search bar ==========*/
.back{
  color: black;
  margin-left: 0;
  margin-top: 10px;
}
.back > svg{
  margin-bottom: -2.5px;
  margin-left: 20%;
}
.morton{
  margin-left: 32%;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .nav{
    justify-content: flex-start
  }
}