.carta{
    padding-bottom: .5rem;
    /* background-image: linear-gradient(
        -45deg,
        #6d8b90 0%,
        #7a9fa5 25%,
        #567277 51%,
        #3d595e 100%
      );
      animation: AnimateBG 20s ease infinite; */
    }
.granoCafe{
    margin-top: 1.5rem;
}